<div class="page-container">
    <div class="row">
        <div class="col-md-6 offset-md-6">
            <button class="btn btn-primary" (click)="save()">Import Friends List</button>
        </div>
    </div>
    <div class="row friends-list-container">
        <div class="col-md-6">
            <h2>List of Friends List</h2>
            <app-loader *ngIf="isFriendsListLoading"></app-loader>
            <table class="table table-responsive">
                <tr *ngFor="let friendsList of friendsList$ | async">
                    <td>{{friendsList.name}}</td>
                    <td><button class="btn btn-success" (click)="addToSelectedFriendsList(friendsList)">Add</button></td>
                </tr>
            </table>
        </div>

        <div class="col-md-6">
            <h2>Friends List in Database</h2>
            <app-loader *ngIf="isSelectedFriendsListLoading"></app-loader>
            <table class="table table-responsive">
                    <tr *ngFor="let friendsList of selectedFriendsList$ | async">
                        <td>{{friendsList.name}}</td>
                        <td><button class="btn btn-danger" (click)="removeFromSelectedFriendsList(friendsList)">Remove</button></td>
                    </tr>
                </table>
        </div>
    </div>
</div>
